#hero{
    /* background-image: url('/games/testgame1/gameassets/herosprite_ted.png') !important; */
}


.ComputerCenter_backgroundbar.dither_bottom{
    background-image:url('/games/testgame1/gameassets/dither_bottom_cyan_00AAAA.gif')
}


.Inventory_Taco{
    background-image:url('/games/testgame1/gameassets/inventory_taco.png');
    background-size: contain;
    background-repeat: no-repeat;
}


#npcSpaceMan{
    background-image:url('/games/testgame1/gameassets/gamesprite_npc.png');
    /* background-size: contain; */
    background-repeat: no-repeat;
    background-position-x: 0px;
    background-position-y: -66px;
 
}



#hero.dance{
    animation: dance 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

@keyframes dance {
    0% {
              transform: translateX(0) rotateY(0);
              transform-origin: 0% 50%;
    }
    100% {
              transform: translateX(-100%) rotateY(180deg);
              transform-origin: 100% 0%;
    }
  }