/* Main Menu Styles - required per-game for dropdown menu control */
#subMenumainNavFileMenu.active {left:142px}
#subMenumainNavSpeedMenu.active{left:230px}
#subMenumainNavSoundMenu.active{left:334px}




/* Per-game graphics and animation loaded */

.ComputerCenter_backgroundbar.dither_bottom{
    background-image:url('/games/testgame1/gameassets/dither_bottom_cyan_00AAAA.gif')
}

.Inventory_taco{
    background-image:url('/games/testgame1/gameassets/inventory_taco.png');
}

.Inventory_keycard{
    background-image:url('/games/testgame1/gameassets/inventory_keycard.gif');
}

.Inventory_fakekeycard{
    background-image:url('/games/testgame1/gameassets/inventory_fakekeycard.gif');
}

#npcSpaceMan{
    background-image:url('/games/testgame1/gameassets/gamesprite_npc.png');
    /* background-size: contain; */
    background-repeat: no-repeat;
    background-position-x: 0px;
    background-position-y: -66px;
 
}
#npcSpaceTwin{
    background-image:url('/games/testgame1/gameassets/gamesprite_npc2.png');
    /* background-size: contain; */
    background-repeat: no-repeat;
    background-position-x: 0px;
    background-position-y: -130px;
 
}

#grayBlock {
    background-image:url('/games/testgame1/gameassets/grayBlock.png');
    background-repeat: no-repeat;
}

#tedBlock{
    background-image:url('/games/testgame1/gameassets/tem.png');
    background-repeat: no-repeat;
}

#hero.dance{
    animation: dance 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

@keyframes dance {
    0% {
              transform: translateX(0) rotateY(0);
              transform-origin: 0% 50%;
    }
    100% {
              transform: translateX(-100%) rotateY(180deg);
              transform-origin: 100% 0%;
    }
  }



.partyrock{
        background: linear-gradient(341deg, #0000aa, #00aa00, #00aaaa, #5555ff, #55ffff);
        background-size: 100px 100px;
        image-rendering: pixelated;
        animation: partyrock 30s ease infinite;
    }
    
    @keyframes partyrock { 
        0%{background-position:97% 0%}
        50%{background-position:4% 100%}
        100%{background-position:97% 0%}
    }