#hero{
    /* background-image: url('/games/testgame1/gameassets/herosprite_ted.png') !important; */
}


.ComputerCenter_backgroundbar.dither_bottom{
    background-image:url('/games/testgame1/gameassets/dither_bottom_cyan_00AAAA.gif')
}


.Inventory_Taco{
    background-image:url('/games/testgame1/gameassets/inventory_taco.png');
    background-size: contain;
    background-repeat: no-repeat;
}