/* Retro gaming font */
@font-face {
  font-family: 'retrofont_fontregular';
  src: url('fonts/retrofont.woff2') format('woff2'),
       url('fonts/retrofont.woff') format('woff'),
       url('fonts/retrofont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'retrofont_fontregular';
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
}

#debugger{
  position: absolute;
  top:5px;
  left:5px;
  opacity: 0.5;
  min-height: 200px;
}


/* Layout */
body{
  background: #444;
}
#gameUI{
  background: #cccccc;
  display:grid;
  grid-template-rows: 30px 500px 1fr;
  /* grid-template-columns: ; */
  max-width: 60vw;
  margin:0 auto;
  border:2em solid #000
}

#gameUI header{
  background: #fff;
  border-bottom:1px solid #444;
}

#gameUI header span{
  display: inline-block;
  padding:4px 12px;
}

#gameUI .soundStatus{
  float: right;
}


#gameUI footer{
  background: #000;
  padding:2% 0;
}

#gameUI footer form{
  display: inline-block;
  width:90%
}

#gameUI footer input::placeholder {
  color:#fff;
  font-family: 'retrofont_fontregular';
}

#gameUI footer input::placeholder {
  color:#fff;
}
#gameUI footer input:focus::placeholder {
  color:transparent;
}


#gameUI footer input{
  color:#fff;
  background:#000;
  border:0;
  font-size:15px;
  width:100%
}

#gameUI footer::before{
  content:">";
  color:#fff;
}


#gameUI footer input:focus{
  outline:#000;
}






















.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  z-index:100;
  /* background: rgba(0, 0, 0, 0.6); */
}

.modal-main {
  position: fixed;
  background: white;
  max-width: 700px;
  width: 90%;
  height: auto;
  top: 20%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  outline: #fff solid 7px;
  border: 5px solid brown;
  padding: 10px;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}